Repository SELab-2/UGent-4, pull requests merged in 2024-04, with the labels that each got.

#160 Frontend restricties
  .gitignore
  README.md
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/FileUploadButton.tsx
  frontend/frontend/src/components/RestrictionCard.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/AddRestrictionButton.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionPopup.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/src/pages/mainPage/ArchivedView.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
Labels: enhancement, frontend

#161 formatting en kleine error gefikst
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/FileUploadButton.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/AddRestrictionButton.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/src/pages/mainPage/ArchivedView.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
Labels: enhancement

#163 wegwerken type unknown waar het niet hoort
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
Labels: bug, frontend

#165 wegwerken type unknown waar het niet hoort, errors op properties opge…
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
Labels: enhancement

#166 wegwerken errors, website zou horen te werken
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
Labels: bug, enhancement

#176 Verder werken aan docker artefacten genereren en docker te laten werken
  api/docker/python_entrypoint.py
  api/docker/rundocker.sh
  api/docker/testing_entrypoint.sh
  api/models/indiening.py
  api/serializers/indiening.py
  api/urls.py
  api/views/indiening.py
Labels: backend, docker

#192 indieningen worden herladen wanneer nieuwe indiening word gedaan
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: bug, frontend

#194 Tijdstippen toevoegen aan data
  frontend/frontend/src/components/AssignmentListItem.tsx
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/SubmissionListItemStudentPage.tsx
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/scoresPage/StudentScoreListItem.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: bug, frontend

#195 kleine fix groepen pagina
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
Labels: bug

#196 leerkrachten kunnen nu wel onzichtbare projecten zien op mainpage
  frontend/frontend/src/components/CourseCard.tsx
Labels: bug, frontend

#198 Archiveer vakken
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
Labels: frontend

#197 aantal indieningen word correct getoond op SubjectsPage voor studenten
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
Labels: bug, frontend

#200 Vakken pinnen
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/pages/mainPage/ArchivedView.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
Labels: nice to have, frontend

#182 Extra werk aan de backend (bug fixes, extra implementatie)
  api/models/indiening.py
  api/models/vak.py
  api/serializers/gebruiker.py
  api/serializers/groep.py
  api/serializers/vak.py
  api/urls.py
  api/utils.py
  api/views/gebruiker.py
  api/views/groep.py
  api/views/indiening.py
  api/views/project.py
  api/views/restrictie.py
  api/views/score.py
  api/views/vak.py
Labels: documentation, backend

#174 begin undefined errors en type fixes
  frontend/frontend/.gitignore
  frontend/frontend/cypress/page/subjectsPage/SubjectsPage.cy.tsx
  frontend/frontend/src/components/AssignmentListItem.tsx
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/SubmissionListItemStudentPage.tsx
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/mainPage/ArchivedView.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/scoresPage/StudentScoreListItem.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: bug, frontend
