Repository SELab-2/UGent-4, pull requests merged in 2024-05, with the labels that each got.

#212 invitation links zijn geimplementeerd in de frontend.
  frontend/frontend/src/components/CopyToClipboard.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
  frontend/frontend/src/routes.tsx
Labels: nice to have, frontend

#217 clear input if teacher/student is added to course
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
Labels: enhancement

#216 minstens 1 lesgever in vak
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
Labels: enhancement, frontend

#214 wegwerken accountknop in header. gebruik taal switch in header
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/components/LanguageSwitcher.tsx
  frontend/frontend/vite.config.ts
Labels: enhancement, frontend

#205 groupPage opschonen
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
Labels: bug, frontend

#223 Kalender uitbreiding met klikbare deadlines is toegevoegd
  frontend/frontend/src/components/DeadlineCalendar.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/mainPage/MainPage.tsx
Labels: frontend

#175 loading implementation skeletons
  frontend/frontend/cypress/page/subjectsPage/SubjectsPage.cy.tsx
  frontend/frontend/src/components/AssignmentListItem.tsx
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/CourseCardSkeleton.tsx
  frontend/frontend/src/components/DeadlineCalendar.tsx
  frontend/frontend/src/components/GroupAccessComponent.tsx
  frontend/frontend/src/components/SubmissionListItemStudentPage.tsx
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/AddRestrictionButton.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/mainPage/ArchivedView.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/scoresPage/ProjectScoresPage.tsx
  frontend/frontend/src/pages/scoresPage/StudentScoreListItem.tsx
  frontend/frontend/src/pages/scoresPage/StudentsView.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
  frontend/frontend/src/pages/subjectsPage/StudentPopUp.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: enhancement, frontend

#224 kalender deadlines enkel zichtbaar als student ingeschreven is voor vak
  frontend/frontend/src/pages/mainPage/MainPage.tsx
Labels: bug

#225 onderscheid gemaakt tussen visuele id en echte id om te routen groepe…
  frontend/frontend/src/components/SubmissionListItemStudentPage.tsx
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: bug, frontend

#232 deadlines worden juist getoond in de kalender nu, en de addchangeassi…
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
Labels: bug

#235 save knop in group pagina werkt nu terug
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
Labels: bug, frontend

#240 added pigeonlogo to mainpage and login
  frontend/frontend/public/assets/logo_duif.png
  frontend/frontend/public/assets/logo_duif_top.png
  frontend/frontend/public/assets/logo_duif_top.svg
  frontend/frontend/public/assets/logo_duif_top_wit.png
  frontend/frontend/src/Theme.ts
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/pages/loginPage/LoginPage.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
Labels: enhancement, frontend

#245 kleine fixes
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
  frontend/frontend/vite.config.ts
Labels: frontend

#237 Extra toevoegingen aan de backend
  api/admin.py
  api/middleware.py
  api/models/indiening.py
  api/models/project.py
  api/models/template.py
  api/serializers/indiening.py
  api/serializers/project.py
  api/serializers/template.py
  api/settings.py
  api/urls.py
  api/utils.py
  api/views/gebruiker.py
  api/views/indiening.py
  api/views/template.py
  frontend/frontend/cypress/page/subjectsPage/SubjectsPage.cy.tsx
  frontend/frontend/package-lock.json
  frontend/frontend/package.json
  frontend/frontend/src/Theme.ts
  frontend/frontend/src/axiosConfig.ts
  frontend/frontend/src/components/AssignmentListItem.tsx
  frontend/frontend/src/components/CopyToClipboard.tsx
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/CourseCardSkeleton.tsx
  frontend/frontend/src/components/CustomComponents.tsx
  frontend/frontend/src/components/DeadlineCalendar.tsx
  frontend/frontend/src/components/FileUploadButton.tsx
  frontend/frontend/src/components/GroupAccessComponent.tsx
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/components/LanguageSwitcher.tsx
  frontend/frontend/src/components/SubmissionListItemStudentPage.tsx
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/components/WarningPopup.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/AddRestrictionButton.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/loginPage/LoginPage.tsx
  frontend/frontend/src/pages/mainPage/ArchivedView.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/scoresPage/ProjectScoresPage.tsx
  frontend/frontend/src/pages/scoresPage/StudentScoreListItem.tsx
  frontend/frontend/src/pages/scoresPage/StudentsView.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
  frontend/frontend/src/pages/subjectsPage/StudentPopUp.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
  frontend/frontend/src/routes.tsx
  frontend/frontend/tsconfig.json
Labels: documentation, backend

#257 frontend aangepast aan indiening backend verandering
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/scoresPage/ProjectScoresPage.tsx
  frontend/frontend/src/pages/scoresPage/StudentScoreListItem.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: frontend

#255 popup als je nog niet in een groep zit + reroute naar groep selectie …
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: enhancement, frontend

#261 visual improvement voor testscript
  frontend/frontend/src/components/CustomComponents.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  package-lock.json
  package.json
Labels: frontend

#263 lesgever url's niet meer beschikbaar voor studenten
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/groupsPage/ChooseGroup.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/scoresPage/ProjectScoresPage.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
  frontend/frontend/src/routes.tsx
Labels: frontend

#249 veel errors in frontend ->fix branch
  frontend/frontend/src/components/DeadlineCalendar.tsx
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: bug, frontend

#268 assignmentpage crasht niet meer als de student niet ingeschreven is i…
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: bug, frontend

#259 Backend extras
  api/admin.py
  api/models/project.py
  api/models/template.py
  api/serializers/project.py
  api/serializers/vak.py
  api/urls.py
  api/utils.py
  api/views/indiening.py
  api/views/template.py
Labels: backend

#258 Groep consistency patch
  frontend/frontend/src/components/GroupAccessComponent.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/routes.tsx
Labels: enhancement, frontend

#273 error met inladen user
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
Labels: bug, frontend

#274 groep ids kloppen nu op assignment page voor leerkrachten
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: bug, frontend

#256 Test script UI
  .gitignore
  frontend/frontend/cypress/e2e/1-getting-started/todo.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/actions.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/aliasing.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/assertions.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/connectors.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/cookies.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/cypress_api.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/files.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/location.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/misc.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/navigation.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/network_requests.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/querying.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/storage.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/traversal.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/utilities.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/viewport.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/waiting.cy.js
  frontend/frontend/cypress/e2e/2-advanced-examples/window.cy.js
  frontend/frontend/cypress/e2e/pages/MainPage.cy.tsx
  frontend/frontend/cypress/e2e/subjectsPage/SubjectsPage.cy.js
  frontend/frontend/package-lock.json
  frontend/frontend/src/components/CustomComponents.tsx
  frontend/frontend/src/components/RestrictionCard.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/AddRestrictionButton.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionTemplateUI.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/vite.config.ts.timestamp-1712075430286-84211051e338.mjs
  package-lock.json
  package.json
Labels: enhancement, frontend

#276 project pagina werkt terug als er geen opdrachtsbestand is
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: bug, frontend

#277 bij projecten zonder groepen worden nu student namen getoond
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: frontend

#279 dubbele opgave is weg
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: enhancement, frontend

#280 stond er nog een keer dubbel in
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: enhancement, frontend

#278 Group performance
  frontend/frontend/src/components/CustomComponents.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
Labels: enhancement, frontend

#282 opnieuw performance omhoog gedaan
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
Labels: enhancement, frontend

#281 kalender is beetje beter van uitzicht
  frontend/frontend/src/components/DeadlineCalendar.tsx
Labels: enhancement, frontend

#283 performance inladen studenten verbeterd
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
Labels: enhancement, frontend

#284 regex op de output van een automatische test om enkel de geteste best…
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: enhancement, frontend

#294 positie jaarkiezer verandert
  frontend/frontend/src/components/TabSwitcher.tsx
  frontend/frontend/src/pages/mainPage/ArchivedView.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
Labels: enhancement, frontend

#296 visuele bugs oplossen?
  frontend/frontend/package-lock.json
  frontend/frontend/src/components/AssignmentListItem.tsx
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/components/TabSwitcher.tsx
  frontend/frontend/src/components/WarningPopup.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/AddRestrictionButton.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionTemplateUI.tsx
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/groupsPage/ChooseGroup.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/scoresPage/ProjectScoresPage.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
  frontend/frontend/vite.config.ts
Labels: bug, frontend

#302 Student group switch. Eerst deze mergen!!!!
  frontend/frontend/src/components/AssignmentListItem.tsx
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/Header.tsx
  frontend/frontend/src/components/TabSwitcher.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/mainPage/CoursesView.tsx
  frontend/frontend/src/pages/mainPage/MainPage.tsx
  frontend/frontend/src/pages/scoresPage/ProjectScoresPage.tsx
  frontend/frontend/src/pages/subjectsPage/AddChangeSubjectPage.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: bug, frontend

#303 Merge problems fix
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
Labels: bug, frontend

#304 Backend extras
  api/views/vak.py
Labels: backend

#305 Backend Extras
  api/views/restrictie.py
Labels: backend

#306 kleuren deadlines aangepast in subjectspage
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
Labels: enhancement, frontend

#307 gepasseerde deadlines verschijnen licht op de kalender
  frontend/frontend/src/components/DeadlineCalendar.tsx
Labels: frontend

#308 Backend extras
  api/base_templates/file_type.sh
  api/serializers/gebruiker.py
  api/views/gebruiker.py
  api/views/restrictie.py
Labels: backend

#313 Backend extras
  api/models/indiening.py
Labels: bug, backend

#315 Kleine bugfix
  api/models/indiening.py
Labels: bug, backend

#316 Backend extras
  api/views/groep.py
Labels: bug, backend

#314 frontend kapot :cry:
  frontend/frontend/src/components/CourseCard.tsx
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/pages/groupsPage/ChooseGroup.tsx
  frontend/frontend/src/pages/groupsPage/GroupsPage.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: bug, frontend

#317 Permissies aanpassen
  api/serializers/groep.py
  api/views/groep.py
Labels: bug, backend

#318 kleine i18n fix
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: frontend

#320 regex + filename
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: bug, frontend

#319 Permissie breach oplossen bij groepen
  api/views/groep.py
Labels: bug, backend

#321 groepen gesorteerd in studentpagina
  frontend/frontend/src/pages/groupsPage/ChooseGroup.tsx
Labels: enhancement, frontend

#322 Dubbele bestandsnamen oplossen
  api/models/indiening.py
Labels: bug, backend

#323 Kleine fix die ervoor zorgt dat hyperlink in mail werkt
  api/utils.py
Labels: bug, backend

#325 Backend fixes
  api/models/indiening.py
Labels: bug, backend

#324 procenten afgerond + opgavebestanden verwijderbaar gemaakt
  frontend/frontend/src/components/SubmissionListItemTeacherPage.tsx
  frontend/frontend/src/i18n/en.ts
  frontend/frontend/src/i18n/nl.ts
  frontend/frontend/src/pages/addChangeAssignmentPage/AddChangeAssignmentPage.tsx
  frontend/frontend/src/pages/assignmentPage/AssignmentPage.tsx
  frontend/frontend/src/pages/subjectsPage/AssignmentListItemSubjectsPage.tsx
Labels: enhancement, frontend

#326 Backend indiening fix
  api/models/indiening.py
Labels: bug, backend

#328 grootte dialog restricties
  frontend/frontend/src/pages/addChangeAssignmentPage/RestrictionsDialog.tsx
  frontend/frontend/src/pages/submissionPage/SubmissionPage.tsx
Labels: enhancement, frontend

#329 remove project
  frontend/frontend/src/pages/subjectsPage/ProjectsView.tsx
  frontend/frontend/src/pages/subjectsPage/SubjectsPage.tsx
Labels: bug, frontend
